BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "WE" SITE "111" ;
LOCATE COMP "RR1[7]" SITE "1" ;
LOCATE COMP "RR1[6]" SITE "2" ;
LOCATE COMP "RR1[5]" SITE "3" ;
LOCATE COMP "RR1[4]" SITE "4" ;
LOCATE COMP "RR1[3]" SITE "5" ;
LOCATE COMP "RR1[2]" SITE "6" ;
LOCATE COMP "RR1[1]" SITE "9" ;
LOCATE COMP "RR1[0]" SITE "10" ;
LOCATE COMP "RR2[7]" SITE "11" ;
LOCATE COMP "RR2[6]" SITE "12" ;
LOCATE COMP "RR2[5]" SITE "13" ;
LOCATE COMP "RR2[4]" SITE "14" ;
LOCATE COMP "RR2[2]" SITE "19" ;
LOCATE COMP "RR2[3]" SITE "20" ;
LOCATE COMP "RR2[1]" SITE "21" ;
LOCATE COMP "RR2[0]" SITE "22" ;
LOCATE COMP "WR[7]" SITE "132" ;
LOCATE COMP "WR[6]" SITE "133" ;
LOCATE COMP "WR[5]" SITE "24" ;
LOCATE COMP "WR[4]" SITE "23" ;
LOCATE COMP "WR[3]" SITE "26" ;
LOCATE COMP "WR[2]" SITE "25" ;
LOCATE COMP "WR[1]" SITE "28" ;
LOCATE COMP "WR[0]" SITE "27" ;
LOCATE COMP "WD[7]" SITE "33" ;
LOCATE COMP "WD[6]" SITE "32" ;
LOCATE COMP "WD[5]" SITE "35" ;
LOCATE COMP "WD[4]" SITE "34" ;
LOCATE COMP "WD[3]" SITE "114" ;
LOCATE COMP "WD[2]" SITE "109" ;
LOCATE COMP "WD[1]" SITE "110" ;
LOCATE COMP "WD[0]" SITE "112" ;
LOCATE COMP "RD1[7]" SITE "99" ;
LOCATE COMP "RD1[6]" SITE "100" ;
LOCATE COMP "RD1[5]" SITE "104" ;
LOCATE COMP "RD1[4]" SITE "105" ;
LOCATE COMP "RD1[3]" SITE "106" ;
LOCATE COMP "RD1[2]" SITE "107" ;
LOCATE COMP "RD1[1]" SITE "40" ;
LOCATE COMP "RD1[0]" SITE "38" ;
LOCATE COMP "RD2[7]" SITE "49" ;
LOCATE COMP "RD2[6]" SITE "47" ;
LOCATE COMP "RD2[5]" SITE "45" ;
LOCATE COMP "RD2[4]" SITE "43" ;
LOCATE COMP "RD2[3]" SITE "42" ;
LOCATE COMP "RD2[2]" SITE "44" ;
LOCATE COMP "RD2[1]" SITE "39" ;
LOCATE COMP "RD2[0]" SITE "41" ;
